<!-- se manda a llamar todo lo que esta en base y se manda el titulo de la pagina -->
{% extends 'base/base.html' %} 
{% block title %}  {{ title }} {% endblock %}


{% block content %}

{% from "_macro.html" import render_field %}

    <div class="formulario">
        <h2>Bienvenido</h2>
        <form id="login-form" method="POST">

	        <input type="hidden" name="csrf_token"  value="{{ csrf_token() }}" />
            
            <div class="username">
                <!-- <input type="text" required> -->
                {{ render_field(form.username, class='input-label') }}
                <label class="input-label">Usuario</label>
                <!-- {{ render_field(form.username, class='input-label') }} -->
                
            </div>

            <div class="contraseña">
                <!-- <input type="password" required> -->
                {{ render_field(form.password, class='contraseña') }}
                <label class="input-label">Contraseña</label>
                <!-- {{ render_field(form.password, class='contraseña') }} -->
                
            </div>

            <div id="success"></div>
            <input type="submit" value="Iniciar sesión">
            <div class="registrarse">
                <a href="#">Registrarme</a>
            </div>
            {{form.honeypot}}
        </form>
    </div>


{% endblock %}